
.generate span {
  font-family: monospace;
  font-size: 1.5em;
}

.data {
  font-family: monospace;
  font-size: 1.5em;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea {
  width: 50%;
  height: 6em;
}

img {
  width: 50%;
  border: 2px solid black;
}
